$background-color: #201b5b;
$section-background-color: white;
$section-max-width: 800px;
$text-color: black;
$font: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    overflow-x: hidden;
    margin: 0;
    background-color: $background-color;
}

section {
    display: block;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    .content {
        width: 100%;
        padding: 0px 15px;
        background-color: $section-background-color;
        border-radius: 10px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}
